div.container
	div.customerDetails
		span.customerName Thilakar Kathirvelu
		span #13/1661A, 1st main Road
		span Poompuhar nagar, kolathur
		span chennai - 600099

	div.invoiceDetails
		div
			label.leftLabel Invoice#
			label.rightLabel INV-17
		div
			label.leftLabel Invoice Date
			label.rightLabel 20/05/2017
		div
			label.leftLabel P.O #
			label.rightLabel 321014
		div
			label.leftLabel Terms
			label.rightLabel Due on Receipt
		div
			label.leftLabel Project Name
			label.rightLabel Design Project

	div.itemDetails
		ul.itemDetailsTitle
			li.sNo #
			li.itemDescription ITEM & DESCRIPTION
			li.itemAmount	AMOUNT
		ul
			li.sNo 1
			li.itemDescription
				span.itemTitle Brochure Design
				span Brochure Design Single Sided Color
			li.itemAmount
				span.itemTitle 300.00
				span 1.00 x 300.00
		ul
			li.sNo 2
			li.itemDescription
				span.itemTitle Web Design Package - Basic
				span Custom Themes for your business Inclusive of 10 hours of marketing and annual training
			li.itemAmount
				span.itemTitle 250.00
				span 1.00 x 250.00
		ul
			li.sNo 3
			li.itemDescription
				span.itemTitle Print Ad - Basic - Color
				span Print Ad 1/B size Color
			li.itemAmount
				span.itemTitle 80.00
				span 1.00 x 80.00		
	div.totalAmount
		div.greeting Thanks for your business
		div.amountDetails
			div
				label.amountLeftLable SubTotal
				label.amountRightLable 630.00
			div
				label.amountLeftLable Sample Tax1 (4.70 %)
				label.amountRightLable 11.75
			div
				label.amountLeftLable Sample Tax2 (7.00 %)
				label.amountRightLable 21.00
			div
				label.amountLeftLable.amount Total
				label.amount.amountRightLable 630.00
			div
				label.amountLeftLable Payment Mode
				label.amountRightLable (-) 100.00
			div.balDue
				label.amountLeftLable.amount Balance Due
				label.amount.amountRightLable 562.75

